extends layout

block content
  .topbar
    p
      a(href="/auth/logout") Logout
  .topbar
    p
      a(href="/bucketlists/#{cookieId}") Profile
  .topbar
    p
      a(href="#") Chat
  .topbar
    p
      a(href="/bucketlists") Discover
  header New List Item
  img(src='#{user.picture}')
  form(method='post', action='/bucketlists')
    label(for='name') Name:
    input(type='text', name='name', value='#{user.display_name}') 
    label(for='bio') Bio:
    textarea(name='bio')
    label(for='picture') Change Picture:
    input(type='text', name='picture', placeholder='Enter URL of another picture.')
    input(type='submit', name='submit', value='submit')
    input(type='submit', name='cancel', value='cancel')
