extends layout

block content
  header Bucketlists
    ///search goes here///
  main
    -for(i=0;i<20;i++)  
      div
        p= users[i].displayn_name
        img(src="#{users[i].picture}")
          for item in bucketlist
            img(src='#{item.picture}')
            p= item.title
