extends layout

block content
  header Bucketlists
  form(action='/bucketlists?=asdfasdfasd', method='get')
    input(type='text', name='search')
  main
    for user in users  
      div
        a(href= '/bucketlists/'+list.id)
        p= user.display_name
        img(src= user.picture)
            p= item.title
