extends layout

block content
  header Bucketlists
  form(action='/bucketlists', method='post')
    input(type='text', name='search')
  main
      
    for bucketlist in bucketlists  
      div
        a(href= '/bucketlists/'+bucketlist.id)
        p= bucketlist.display_name
        img(src= bucketlist.picture)
            p= item.title
