extends layout

block content
  header Bucketlists
  form(action='/bucketlists', method='post')
    input(type='text', name='search')
    input(type='submit', name='submit', value='submit')
  main
    each user in userData  
      div
        p= user.display_name
        img(src='#')
        each bucketlist in bucketlists
          img(src='#')
          if bucketlist.user_id === user.id
            if boldItem.indexOf(bucketlist.id) === -1
              p= bucketlist.title
            else
              b= bucketlist.title  
