doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Poppins:300|Lato' rel='stylesheet' type='text/css')
    
  body
    block content
