//- div.login
//-   form(name='login', method='post', action='/auth/login')
//-     label Have an account? Log In Here
//-       input(type='text' placeholder='email' name='email')
//-       input(type='text' placeholder='password' name='password')
//-       button(type='submit') Sign In
//-   br
//-   form(name='signup', method='post', action='/auth/signup')
//-     label No account? Sign Up Here
//-       input(type='text' placeholder='FName LName' name='display_name')
//-       input(type='text' placeholder='email' name='email')
//-       input(type='text' placeholder='password' name='password')
//-       button(type='submit') Sign Up
//-   p OR
//-   a(href='/auth/facebook') Log in with Facebook
//-   a(href='/auth/logout') Log out of the app

extends layout

block content

    .hero
      h1 Tomorrow isn't guaranteed.
      h2 Make a bucketlist today.
      .content
    .landinglist
      .examplelist
        .benslist
          h3 Randy Savage's list 

          p make beef jerky

          p drive fast

          p make love to a woman

          p buy a boat

          p see the police in concert

          p make bryce leonard un-ugly

          p graduate galvanize

          p get chicks dude

          p be the best man i can be

          p a million more wishes
      
    .bulletpoints
        h3 What do I do?
        p Add items to your list
        p Include photos and resource links.
        p Get inspired with our 'Discover' feature.
        
    .fblogin
      h1
        a(href='/auth/facebook') Log in with Facebook
    .reglogin
      .in
        form(name='login', method='post', action='/auth/login')
          h3 Sign In
          input(type="text" placeholder="david@bowie.com" name='email' required)
          input(type="password" placeholder="password" name="password" required)
          br
          input(type="submit" class="pointer")
      .up
        form(name='signup', method='post', action='/auth/signup')
          h3 Sign Up
          input(type="text" placeholder="Jeff Spicoli" name="display_name" required)
          input(type='url' placeholder="Add your photo!" name='picture' required)
          input(type="email" placeholder="supbro@chillin.com" name="email" required)
          input(type="password" placeholder="password" name="password" required)
          br
          input(type="submit" class="pointer")
    .b    


      
