extends layout

block content
  div.login
    label Have an account? Log In Here
      input(type='text' placeholder='email' name='email')
      input(type='text' placeholder='password' name='password')
      button(type='submit') Sign In
    br
    label No account? Sign Up Here
      input(type='text' placeholder='email' name='email')
      input(type='text' placeholder='password' name='password')
      button(type='submit') Sign Up
    p OR
    a(href='/auth/facebook') Log in with Facebook
    
