extends ../layout

block content
  header New List Item
  form(method='post', action='/bucketlists/#{userId}/items')
    label(for='title') Title
    input(type='text', name='title') 
    br
    label(for='description') Description
    textarea(name='description')
    br
    label(for=picture) Picture
    input(type='text', name='picture')
    br
    div.resources
      p Resources
        ul
          li
            label(for='resourceA') Title:
            input(type='text', name='resourceA')
            label(for='resourceUrlA') Url:
            input(type='text', name='resourceUrlA')
          li
            label(for='resourceB') Title:
            input(type='text', name='resourceB')
            label(for='resourceUrlB') Url:
            input(type='text', name='resourceUrlB')
          li
            label(for='resourceC') Title:
            input(type='text', name='resourceC')
            label(for='resourceUrlC') Url:
            input(type='text', name='resourceUrlC')
    br
    input(type='submit', name='submit', value='submit')
    input(type='submit', name='cancel', value='cancel')
